<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693765566700-36m97lehojss33t6lhjrita0sg634gqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693765566700-36m97lehojss33t6lhjrita0sg634gqu</string>
	<key>API_KEY</key>
	<string>AIzaSyANO6-VxqmQy5_IOiiQxRzR4FqP6DTq3JI</string>
	<key>GCM_SENDER_ID</key>
	<string>693765566700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farchis</string>
	<key>PROJECT_ID</key>
	<string>farchis-9dc1b</string>
	<key>STORAGE_BUCKET</key>
	<string>farchis-9dc1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693765566700:ios:c348b92ece3b6ba22b35c9</string>
	<key>DATABASE_URL</key>
	<string>https://farchis-9dc1b.firebaseio.com</string>
</dict>
</plist>