<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907377570025-5fcvdnmb4199dse77h3fspi6g7cklh8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907377570025-5fcvdnmb4199dse77h3fspi6g7cklh8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDTp9E1z3bHAiEmQl55sTc-nZeMrcI0k</string>
	<key>GCM_SENDER_ID</key>
	<string>907377570025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farchis</string>
	<key>PROJECT_ID</key>
	<string>farchis-bbe96</string>
	<key>STORAGE_BUCKET</key>
	<string>farchis-bbe96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907377570025:ios:beb9214ee40b1bf4cec078</string>
	<key>DATABASE_URL</key>
	<string>https://farchis-bbe96.firebaseio.com</string>
</dict>
</plist>